%slider {
  position: absolute;
  top: 50%;
  @include transform(translateY(-50%));
  height: rem(4);
  background: transparent-color($black, .25);
  box-shadow: inset 0 -1px 0 transparent-color($white, .4);
  .handle {
    @include icon-remove-text;
    @extend .icon;
    cursor: pointer;
    position: absolute;
    top: rem(-10);
    //       left: 1%; // left should be defined inline
    &:before {
      @extend .icon-circle;
      @include font-size(20);
      color: $brandcolor;
      text-shadow: 0 1px 1px transparent-color($black, .4);
    }
    span {
      display: block;
      text-indent: 0;
      font-family: $alphafont;
      @include font-size(16);
      font-weight: $font-bold;
      background: transparent-color($black, .9);
      border-radius: $radius-small;
      padding: rem($spacing-s/3) rem($spacing-s/2);
      white-space: nowrap;
      position: absolute;
      left: 50%;
      bottom: rem(25);
      /*
      visibility: hidden;
      opacity: 0;
*/
      transition: $transition-fast;
      @include transform(translateX(-50%));
      &:before {
        content: "";
        @include triangle(rem(16), transparent-color($black, .9), down);
        position: absolute;
        bottom: rem(-8);
        left: 50%;
        @include transform(translateX(-50%));
      }
    }
    &:hover span {
      visibility: visible;
      opacity: 1;
      bottom: rem(30);
    }
  }
}

//  Slider
.group.slider {
  .label, .value {
    width: 20%;
  }
  .slider {
    left: 15%;
    width: 65%;
    @extend %slider;
  }
}

.slider.inline {
  position: relative;
  clear: both;
  top: 1rem;
  height: 1rem;
  .slider {
    width: 100%;
    @extend %slider;
  }
}
