<!-- Promo -->
<div id="hero">
  <div class="container">
  </div>
</div>
<!-- /Promo -->
<!-- Main -->
<div id="main" class="section-main">
  <div class="container">
    <!-- Main content -->
    <div class="main-content" role="main">
      <div class="widget login">
        <header>
          <h2>Lost Password</h2>
        </header>
        <div class="form">
          <form #f="ngForm" (ngSubmit)="onSubmit()">
            <div class="message error" [hidden]="!showError">
              <p>Your password could not be reset.</p>
            </div>
            <div class="message success" [hidden]="!showSuccess">
              <p>Your password reset email has been sent.</p>
            </div>
            <fieldset>
              <div class="group">
                <label for="email">Your email</label>
                <input type="email" [(ngModel)]="email" name="email" placeholder="Your email" required />
                <p class="description">To reset your password please enter the email you used to register and we'll send you a link to reset your password.
                </p>
              </div>
              <div class="group button-group">
                <input type="submit" class="button large" value="Reset Password" [disabled]="!f.valid">
              </div>
            </fieldset>
          </form>
          <p><a [routerLink]="['/register']">Want to register?</a></p>
        </div>
      </div>
    </div>
    <!-- /Main content -->
  </div>
</div>
<!-- /Main -->
