<!-- Promo -->
<div id="hero">
  <div class="container">
  </div>
</div>
<!-- /Promo -->
<!-- Main -->
<div id="main" class="section-main">
  <div class="container">
    <!-- Main content -->
    <div class="main-content" role="main">
      <div class="widget login">
        <header>
          <h2>Reset Password</h2>
        </header>
        <div class="form">
          <form #f="ngForm" (ngSubmit)="onSubmit()">
            <div class="message error" [hidden]="!showError">
              <p>Your reset code is invalid.</p>
            </div>
            <div class="message success" [hidden]="!showSuccess">
              <p>Your password has been changed successfully. Please <a [routerLink]="['/login']">log in</a>.</p>
            </div>
            <fieldset>
              <div class="group">
                <label for="code">Reset code</label>
                <input type="text" [(ngModel)]="authService.reset.code" name="code" placeholder="Code" required />
              </div>
              <div class="group">
                <label for="password">New password</label>
                <input type="password" [(ngModel)]="authService.reset.password" name="password" placeholder="New password" required>
              </div>
              <div class="group">
                <label for="password_repeat">Repeat new password</label>
                <input type="password" [(ngModel)]="authService.reset.confirmpassword" name="password_repeat" placeholder="Repeat new password" required>
                <p class="description">Please enter your new password once more for security reasons. From now on you will login with your new password.</p>
              </div>
              <div class="group button-group">
                <input type="submit" class="button large" value="Reset Password" [disabled]="!f.valid" />
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
    <!-- /Main content -->
  </div>
</div>
<!-- /Main -->
